body {
    width: 100vw;
    height: 100vh;
    
    display: grid;
    place-items: center;
    font-family: 'Open Sans', sans-serif;
}

body::after {
    content: "";
    background: url(image.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background: url("https://source.unsplash.com/1600x900/?weather,sunny, rain, clouds")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size:     cover;     
    background-repeat:   no-repeat;
    background-position: center center;  
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.card {
   min-height: 20vh;
   min-width: 30vw;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
   text-align: center;
   background: rgb(135,206,235, 2);
   opacity: 0.9;
   display: grid;
   grid-template-columns: 2fr 0fr 2fr;
   margin: 30px;

}

.divider {
    height: 100%;
    width: 2px;
    background: #008000;
    display: grid;
    place-items: center;
    
}

.content {
  
    display: grid;
    place-items: center;



}

.icon {
    display: grid;
    place-items: center;
   
}

.temp {
    color: #ffffff;
    font-size:3em;
    position: relative;
}

.temp::after {
    content: 'c';
    font-size: 0.5em;
    position: absolute;
    top:0;
    right: -15px;

}

.timezone {
    color: #ffffff;
    font-size: 1.5em;

}

.desc {
    color: #ffffff;
    font-size: 1em;
}